/* TARJETA PREMIUM */
.premium-card-1 {
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 16px;
    background-image: linear-gradient(135deg, #f97316, #8b5cf6);
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.title-premium {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.subtitle-premium {
    font-size: 0.9rem;
    text-align: center;
    opacity: 0.9;
    margin-bottom: 1rem;
}
.action-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: white;
    color: #8b5cf6;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    transition: background-color 0.2s;
}